body{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
h3{
	margin:10px 10px 10px 0px;
	padding:5px 20px;
	background-color:#e3e3e3;
	border:1px solid #777;
	color:#777;
	float:left;
}
.clear:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

div#add-form{
	position: fixed;
	left:10%;
	width:80%;
	top:30px;
	margin:0 auto;
	background-color:#e3e3e3;
	border:1px solid #999;
	border-radius:5px;
	z-index:10;
	display:none;

	form{
		margin:20px auto;
		display:block;
		width:100%;
		text-align:center;

		input{
			display:block;	
			margin:0px auto 5px;
			width:90%;
			border:1px solid #999;
			padding:4px;
			font-size:1em;
		}
	}
}

#entries{
	ul{
		clear:both;
		margin:0;
		padding:0;

		li{
			margin:3px 0px;
			padding:10px;
			overflow: hidden;
			list-style:none;
			background-color:#e3e3e3;
			color:#333;
			font-weight:bold;

			span{
				float:right;
			}
		}
	}
}